html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  height: 100vh;
}
:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-light-magenta: hsl(289, 100%, 72%);
}
img {
  width: 100%;
}
p {
  margin: 0;
}
/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 3rem;
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .box-one {
    width: 22vw;
    margin-left: 25rem;
  }
  .box-two {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
    margin-left: 15rem;
    padding-right: 15rem;
  }
}
/* Background */
.background {
  background-color: var(--light-grayish-violet);
  position: relative;
  height: 100vh;
}
.bg-up {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 0;
  top: 0;
  background-color: var(--moderate-violet);
  border-radius: 100% 0% 100% 0% / 0% 0% 39% 0%;
  z-index: -1;
}
.bg-down {
  width: 50vw;
  height: 50vh;
  background-color: var(--dark-grayish-violet);
  opacity: 5%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 100% 0% 0% 0% / 45% 0% 0% 0%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bg-up {
    width: 40vw;
    height: 90vh;
    border-radius: 0% 0% 51% 50% / 0% 0% 30% 31%;
    left: -10%;
  }
  .bg-down {
    width: 40vw;
    height: 90vh;
    right: -25%;
  }
}
/* Mobile */
.mobile {
  border: 10px solid var(--white);
  border-radius: 30px;
  background-color: var(--light-grayish-violet);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}
.empty-div {
  position: absolute;
  background-color: var(--white);
  border-radius: 30px;
  padding: 1.5rem 8rem;
  top: -14%;
}
/* Mobile header */
.mobile__media {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(136, 56, 255);
  background: linear-gradient(
    41deg,
    rgba(136, 56, 255, 1) 25%,
    rgba(170, 60, 255, 1) 55%,
    rgba(233, 66, 255, 1) 100%
  );
  border-radius: 30px 30px 1px 1px;
  padding: 3rem 1.5rem 1.5rem;
}
.fa-chevron-left,
.fa-ellipsis-v {
  color: var(--white);
  opacity: 80%;
}
.picture {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--white);
  border-radius: 100%;
  margin-top: 0.5rem;
}
.profile__name {
  font-size: 1.3rem;
  color: var(--white);
  margin-right: 10rem;
}
.profile__availability {
  color: var(--pale-violet);
  font-size: 0.9rem;
}
/* Mobile chat section */
.mobile__chat {
  font-size: 0.5rem;
}
.chat {
  border-radius: 20px 20px 20px 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  width: 55%;
}
.chat-primary {
  background-color: #ede5f4;
  color: var(--moderate-violet);
}
.chat-secondary {
  background-color: var(--white);
}
.chat-accent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  background: rgb(170, 60, 255);
  background: linear-gradient(
    41deg,
    rgba(170, 60, 255, 1) 0%,
    rgba(233, 66, 255, 1) 32%,
    rgba(136, 56, 255, 1) 100%
  );
}
.message {
  font-size: 1rem;
}
.chat-box-right {
  border-radius: 20px 20px 5px 20px;
  margin-left: 10rem;
}
.box-small {
  text-align: right;
  width: 30%;
  margin-left: 18rem;
}
.chat-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
}
.dog__image {
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
  margin: 0.4rem;
}
/* Radio Button and text */
input[type="radio"] {
  outline: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: transparent;
  border: 0.5px solid var(--pale-violet);
}
.radio__button {
  display: flex;
}
.radio__text {
  margin-left: 1rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: lighter;
  opacity: 70%;
}
.price {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
}
/* Type Message */
.input {
  padding: 1.5rem 3.5rem;
  outline: 0;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  margin: 1rem;
}
::placeholder {
  color: var(--grayish-blue);
  opacity: 80%;
}
.input-group {
  display: flex;
  position: relative;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1.5rem;
}
/* Type Message Button */
.btn {
  position: absolute;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  background-color: var(--very-dark-desaturated-violet);
  right: 5%;
  bottom: 25%;
}
.fa-chevron-right {
  color: var(--white);
}
/* Advertisment */
.ad {
  margin-top: 5rem;
}
.ad > p {
  color: var(--dark-grayish-violet);
  font-size: 1.6rem;
  text-align: center;
}
.adv-heading {
  color: var(--very-dark-desaturated-violet);
  font-size: 4rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .ad > p {
    text-align: left;
  }
  .adv-heading {
    text-align: left;
  }
}
